In [1]:
import numpy as np
import pandas as pd

In [3]:
np.random.seed(0)

df = pd.DataFrame(np.random.randint(0, 100, (3, 3)))
df.style.format('<input name="df" value="{}" />').render()

'<style  type="text/css" >\n</style><table id="T_3bdb0_" ><thead>    <tr>        <th class="blank level0" ></th>        <th class="col_heading level0 col0" >0</th>        <th class="col_heading level0 col1" >1</th>        <th class="col_heading level0 col2" >2</th>    </tr></thead><tbody>\n                <tr>\n                        <th id="T_3bdb0_level0_row0" class="row_heading level0 row0" >0</th>\n                        <td id="T_3bdb0_row0_col0" class="data row0 col0" ><input name="df" value="44" /></td>\n                        <td id="T_3bdb0_row0_col1" class="data row0 col1" ><input name="df" value="47" /></td>\n                        <td id="T_3bdb0_row0_col2" class="data row0 col2" ><input name="df" value="64" /></td>\n            </tr>\n            <tr>\n                        <th id="T_3bdb0_level0_row1" class="row_heading level0 row1" >1</th>\n                        <td id="T_3bdb0_row1_col0" class="data row1 col0" ><input name="df" value="67" /></td>\n                        <td id="T_3bdb0_row1_col1" class="data row1 col1" ><input name="df" value="67" /></td>\n                        <td id="T_3bdb0_row1_col2" class="data row1 col2" ><input name="df" value="9" /></td>\n            </tr>\n            <tr>\n                        <th id="T_3bdb0_level0_row2" class="row_heading level0 row2" >2</th>\n                        <td id="T_3bdb0_row2_col0" class="data row2 col0" ><input name="df" value="83" /></td>\n                        <td id="T_3bdb0_row2_col1" class="data row2 col1" ><input name="df" value="21" /></td>\n                        <td id="T_3bdb0_row2_col2" class="data row2 col2" ><input name="df" value="36" /></td>\n            </tr>\n    </tbody></table>'

In [5]:
df = pd.DataFrame(np.asarray(request.values.getlist('df'), dtype=np.int).reshape((3, 3)))

NameError: name 'request' is not defined

In [9]:
import dash
from dash.dependencies import Input, Output
import dash_table
import dash_core_components as dcc
import dash_html_components as html
import pandas as pd

app = dash.Dash(__name__)

params = [
    'Weight', 'Torque', 'Width', 'Height',
    'Efficiency', 'Power', 'Displacement'
]

app.layout = html.Div([
    dash_table.DataTable(
        id='table-editing-simple',
        columns=(
            [{'id': 'Model', 'name': 'Model'}] +
            [{'id': p, 'name': p} for p in params]
        ),
        data=[
            dict(Model=i, **{param: 0 for param in params})
            for i in range(1, 5)
        ],
        editable=True
    ),
    dcc.Graph(id='table-editing-simple-output')
])


@app.callback(
    Output('table-editing-simple-output', 'figure'),
    Input('table-editing-simple', 'data'),
    Input('table-editing-simple', 'columns'))
def display_output(rows, columns):
    df = pd.DataFrame(rows, columns=[c['name'] for c in columns])
    return {
        'data': [{
            'type': 'parcoords',
            'dimensions': [{
                'label': col['name'],
                'values': df[col['id']]
            } for col in columns]
        }]
    }


if __name__ == '__main__':
    app.run_server(debug=True)

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: on

SystemExit: 1

In [19]:
a = np.zeros((2,2,2),dtype=object)

In [23]:
a = np.zeros((3,5))
a

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [25]:
a[:,0]=[1,2,3]
a

array([[1., 0., 0., 0., 0.],
       [2., 0., 0., 0., 0.],
       [3., 0., 0., 0., 0.]])